/* Write your CSS here */
.appstore-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  align-items: center;
}

.appstore-heading {
  color: #1e293b;
  font-family: Bree Serif;
  font-size: 36px;
}

.search-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-element {
  background-color: transparent;
  border-color: #7b8794;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-style: solid;
  border-width: 1.5px;
  height: 34px;
  width: 250px;
  border-right: 0px;
  cursor: pointer;
  outline: none;
  padding: 10px;
  size: 16px;
  font-weight: 600;
}
.input-image {
  width: 30px;
  border-color: #7b8794;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: solid;
  border-width: 1.5px;
  border-left: 0px;
  height: 34px;
  padding: 4px;
}
.tabsList-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.appItems-container {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: center;
}
